.post-link {
    font-family: "Montserrat","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-feature-settings: "kern","liga","pnum";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-feature-settings: "calt" 1;
    text-rendering: optimizeLegibility;
}